@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0deg 0% 93%);
}

.container {
    padding: 10px 0;
    background-color: white;
}

.container h1 {
    padding: 10px 15px 10px 25px;
    width: fit-content;
    background-color: hsl(174deg 100% 29%);
    color: white;
    font-size: 1.5em;
    transform: translateX(-15px);
    position: relative;
}

.container h1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent hsl(174deg 84% 25%);
    left: 5px;
    bottom: -10px;
    transform: rotate(315deg);
}

label {
    display: flex;
    background-color: hsl(0deg 0% 98%);
    gap: 10px;
    width: 851px;
    height: 73px;
    align-items: center;

    padding: 0 20px;
}

input[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }


  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(174deg 100% 29%);
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.labl {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}
